/* .banner {
  margin-bottom: 10px;
} */
.about-header {
  text-align: center;
  padding: 40px;
  background-color: white;
  color: black;
}

.about-background {
  width: 100%;
  filter: grayscale(50%);
  opacity: 0.8;
  height: 500px;
}

.about-info {
  margin-bottom: 200px;
  text-align: center;
}
.smaller-header {
  text-align: center;
}

.header-text {
  font-weight: 100;
}

.icon {
  padding: 10px;
  font-size: 28px;
  color: black;
  font-weight: 100;
}

.icon:hover {
  color: blue;
}
